{% extends "base.html" %}

{% block custommeta %}
  <link href="css/qmc.css" rel="stylesheet">
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://kit.fontawesome.com/36ad4f215e.js" crossorigin="anonymous"></script>
  {{ bokeh_cdn() }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>QMC Data Browser</h1>
    <p class="lead">
       Quantum Monte Carlo energy and forces of high-pressure hydrogen configurations.
    </p>
    <p>
       We provide a set of atomic snapshots sampled on a grid of thermodynamic conditions relevant for high-pressure hydrogen.
       Each dot is a (pressure, temperature) condition sampled by one of classical molecular dynamics, Monte Carlo, or path-integral molecular dynamics.
       The color of the dot encodes the number of configurations available at this condition.
       Each configuration contains geometric properties: proton positions, simulation cell along with electronic property calculated using DMC: total energy and force on each proton.
       To download the configurations, click and drag to select the thermodynamic conditions of interest, then press the "Download selected" at the end of the page.
    </p>
    <div class="row">
      <form role="form">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="Tmin" class="control-label">Tmin (K)</label>
            <input type="text" class="form-control" id="Tmin" name="Tmin" readonly>
          </div>
          <div class="form-group col-md-3">
            <label for="Tmax" class="control-label">Tmax (K)</label>
            <input type="text" class="form-control" id="Tmax" name="Tmax" readonly>
          </div>
          <div class="form-group col-md-3">
            <label for="Pmin" class="control-label">Pmin (GPa)</label>
            <input type="text" class="form-control" id="Pmin" name="Pmin" readonly>
          </div>
          <div class="form-group col-md-3">
            <label for="Pmax" class="control-label">Pmax (GPa)</label>
            <input type="text" class="form-control" id="Pmax" name="Pmax" readonly>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div id="myplot"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <table id="example" 
                 class="display table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>T [K]</th>
                  <th>P [GPa]</th>
                  <th>Det. dft</th>
                  '<th>Conf. dft</th>
                  <th>Ens</th>
                  <th>Quantum</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>T [K]</th>
                  <th>P [GPa]</th>
                  <th>Det. dft</th>
                  <th>Conf. dft</th>
                  <th>Ens</th>
                  <th>Quantum</th>
                </tr>
              </tfoot>
          </table>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary" 
                  id="downloadButton">
            Download selected
          </button>
        </div>
      </div>
    </div>
    <h3>File format</h3>
    <p>
    atomic simulation environment (ASE) UlmASE-Trajectory
    </p>
  </div>
{% endblock %}

{% block customjs %}
  <script src="/js/qmctable.js" async=""></script>
  <script>
    fetch('/plot')
      .then(function(response) { return response.json(); })
      .then(function(item) { return Bokeh.embed.embed_item(item); })
  </script>
{% endblock %}
